{
  "swagger" : "2.0",
  "info" : {
    "description" : "This is a spec for locc v3 REST API",
    "version" : "v3",
    "title" : "Swagger spec for LOCC v3 REST API"
  },
  "host" : "www.dummyhost.com",
  "basePath" : "/locator/v3",
  "schemes" : [ "https" ],
  "paths" : {
    "/v3/directions" : {
      "get" : {
        "summary" : "",
        "description" : "",
        "operationId" : "getDrivingDirection",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "ostreetline1",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "ostreetline2",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "ocity",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "ostateorprovincecode",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "opostalcode",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "ocountrycode",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "US"
        }, {
          "name" : "olat",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "olng",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dstreetline1",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dstreetline2",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dcity",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dstateorprovincecode",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dpostalcode",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dcountrycode",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "US"
        }, {
          "name" : "dlat",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "dlng",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "includemapurl",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "secureurl",
          "in" : "query",
          "required" : false,
          "type" : "string"
        }, {
          "name" : "distanceunit",
          "in" : "query",
          "required" : false,
          "type" : "string",
          "default" : "MI"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/DrivingDirectionsProcessOutputVO"
            }
          }
        }
      }
    },
    "/v3/locations" : {
      "post" : {
        "summary" : "",
        "description" : "",
        "operationId" : "getLocations",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/LocationsSummaryRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/LocationSummaryOutputVO"
            }
          }
        }
      }
    },
    "/v3/locations/nearestandlatest" : {
      "post" : {
        "summary" : "",
        "description" : "",
        "operationId" : "getNearestAndLatestLocations",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "in" : "body",
          "name" : "body",
          "required" : false,
          "schema" : {
            "$ref" : "#/definitions/LocationsSummaryRequest"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/LocationSummaryOutputVO"
            }
          }
        }
      }
    },
    "/v3/locations/{locationid}" : {
      "get" : {
        "summary" : "",
        "description" : "",
        "operationId" : "getLocationDetail",
        "consumes" : [ "application/json" ],
        "produces" : [ "application/json" ],
        "parameters" : [ {
          "name" : "locationid",
          "in" : "path",
          "required" : true,
          "type" : "string"
        } ],
        "responses" : {
          "200" : {
            "description" : "successful operation",
            "schema" : {
              "$ref" : "#/definitions/LocationDetailProcssOutputVO"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "Address" : {
      "type" : "object",
      "properties" : {
        "streetLines" : {
          "type" : "array",
          "xml" : {
            "name" : "streetLine",
            "wrapped" : true
          },
          "items" : {
            "type" : "string"
          }
        },
        "city" : {
          "type" : "string"
        },
        "stateOrProvinceCode" : {
          "type" : "string"
        },
        "postalCode" : {
          "type" : "string"
        },
        "countryCode" : {
          "type" : "string"
        },
        "residential" : {
          "type" : "boolean",
          "default" : false
        },
        "addressVerificationId" : {
          "type" : "string"
        },
        "addressClassification" : {
          "type" : "string",
          "enum" : [ "MIXED", "UNKNOWN", "BUSINESS", "RESIDENTIAL" ]
        },
        "addressClassificationConfidence" : {
          "type" : "string",
          "enum" : [ "POTENTIAL", "PERMANENT" ]
        },
        "shareId" : {
          "type" : "string"
        }
      },
      "example" : {
        "residential" : false,
        "addressClassification" : "MIXED",
        "city" : "city",
        "countryCode" : "countryCode",
        "streetLines" : [ "streetLines", "streetLines" ],
        "postalCode" : "postalCode",
        "addressVerificationId" : "addressVerificationId",
        "addressClassificationConfidence" : "POTENTIAL",
        "stateOrProvinceCode" : "stateOrProvinceCode",
        "shareId" : "shareId"
      }
    },
    "AddressAncillaryDetail" : {
      "type" : "object",
      "properties" : {
        "locationInCity" : {
          "type" : "string"
        },
        "locationInProperty" : {
          "type" : "string"
        },
        "building" : {
          "type" : "string"
        },
        "department" : {
          "type" : "string"
        },
        "roomFloor" : {
          "type" : "string"
        },
        "suite" : {
          "type" : "string"
        },
        "apartment" : {
          "type" : "string"
        },
        "room" : {
          "type" : "string"
        },
        "crossStreet" : {
          "type" : "string"
        },
        "addtionalDescriptions" : {
          "type" : "string"
        },
        "adderssVerificationOverrideReason" : {
          "type" : "string"
        }
      },
      "example" : {
        "locationInCity" : "locationInCity",
        "suite" : "suite",
        "adderssVerificationOverrideReason" : "adderssVerificationOverrideReason",
        "locationInProperty" : "locationInProperty",
        "addtionalDescriptions" : "addtionalDescriptions",
        "department" : "department",
        "roomFloor" : "roomFloor",
        "crossStreet" : "crossStreet",
        "building" : "building",
        "apartment" : "apartment",
        "room" : "room"
      }
    },
    "CXSAlert" : {
      "type" : "object",
      "properties" : {
        "code" : {
          "type" : "string"
        },
        "message" : {
          "type" : "string"
        },
        "alertType" : {
          "type" : "string",
          "enum" : [ "NOTE", "WARNING" ]
        }
      },
      "example" : {
        "code" : "code",
        "alertType" : "NOTE",
        "message" : "message"
      }
    },
    "Contact" : {
      "type" : "object",
      "properties" : {
        "personName" : {
          "type" : "string"
        },
        "parsedPersonName" : {
          "$ref" : "#/definitions/ParsedPersonName"
        },
        "companyName" : {
          "type" : "string"
        },
        "phoneNumber" : {
          "type" : "string"
        },
        "phoneExtension" : {
          "type" : "string"
        },
        "emailAddress" : {
          "type" : "string"
        },
        "faxNumber" : {
          "type" : "string"
        },
        "contactId" : {
          "type" : "string"
        },
        "stateTaxId" : {
          "type" : "string"
        },
        "fedralTaxId" : {
          "type" : "string"
        }
      },
      "example" : {
        "personName" : "personName",
        "fedralTaxId" : "fedralTaxId",
        "emailAddress" : "emailAddress",
        "parsedPersonName" : {
          "firstName" : "firstName",
          "lastName" : "lastName",
          "middleName" : "middleName",
          "suffix" : "suffix"
        },
        "phoneNumber" : "phoneNumber",
        "contactId" : "contactId",
        "phoneExtension" : "phoneExtension",
        "companyName" : "companyName",
        "faxNumber" : "faxNumber",
        "stateTaxId" : "stateTaxId"
      }
    },
    "ContactAndAddress" : {
      "type" : "object",
      "properties" : {
        "displayName" : {
          "type" : "string"
        },
        "contact" : {
          "$ref" : "#/definitions/Contact"
        },
        "address" : {
          "$ref" : "#/definitions/Address"
        },
        "addressAncillaryDetail" : {
          "$ref" : "#/definitions/AddressAncillaryDetail"
        }
      },
      "example" : {
        "address" : {
          "residential" : false,
          "addressClassification" : "MIXED",
          "city" : "city",
          "countryCode" : "countryCode",
          "streetLines" : [ "streetLines", "streetLines" ],
          "postalCode" : "postalCode",
          "addressVerificationId" : "addressVerificationId",
          "addressClassificationConfidence" : "POTENTIAL",
          "stateOrProvinceCode" : "stateOrProvinceCode",
          "shareId" : "shareId"
        },
        "displayName" : "displayName",
        "contact" : {
          "personName" : "personName",
          "fedralTaxId" : "fedralTaxId",
          "emailAddress" : "emailAddress",
          "parsedPersonName" : {
            "firstName" : "firstName",
            "lastName" : "lastName",
            "middleName" : "middleName",
            "suffix" : "suffix"
          },
          "phoneNumber" : "phoneNumber",
          "contactId" : "contactId",
          "phoneExtension" : "phoneExtension",
          "companyName" : "companyName",
          "faxNumber" : "faxNumber",
          "stateTaxId" : "stateTaxId"
        },
        "addressAncillaryDetail" : {
          "locationInCity" : "locationInCity",
          "suite" : "suite",
          "adderssVerificationOverrideReason" : "adderssVerificationOverrideReason",
          "locationInProperty" : "locationInProperty",
          "addtionalDescriptions" : "addtionalDescriptions",
          "department" : "department",
          "roomFloor" : "roomFloor",
          "crossStreet" : "crossStreet",
          "building" : "building",
          "apartment" : "apartment",
          "room" : "room"
        }
      }
    },
    "Dimensions" : {
      "type" : "object",
      "properties" : {
        "length" : {
          "type" : "integer",
          "format" : "int32"
        },
        "width" : {
          "type" : "integer",
          "format" : "int32"
        },
        "height" : {
          "type" : "integer",
          "format" : "int32"
        },
        "units" : {
          "type" : "string",
          "enum" : [ "CM", "IN" ]
        }
      },
      "example" : {
        "length" : 1,
        "width" : 4,
        "units" : "CM",
        "height" : 5
      }
    },
    "Distance" : {
      "type" : "object",
      "properties" : {
        "units" : {
          "type" : "string",
          "enum" : [ "KM", "MI" ]
        },
        "value" : {
          "type" : "number",
          "format" : "double"
        }
      },
      "example" : {
        "units" : "KM",
        "value" : 6.027456183070403
      }
    },
    "DrivingDirectionStep" : {
      "type" : "object",
      "properties" : {
        "sequence" : {
          "type" : "integer",
          "format" : "int32"
        },
        "distance" : {
          "$ref" : "#/definitions/Distance"
        },
        "instruction" : {
          "type" : "string"
        },
        "travelDuration" : {
          "$ref" : "#/definitions/Duration"
        }
      },
      "example" : {
        "sequence" : 0,
        "distance" : {
          "units" : "KM",
          "value" : 6.027456183070403
        },
        "instruction" : "instruction",
        "travelDuration" : {
          "hours" : 7,
          "seconds" : 3,
          "months" : 5,
          "weeks" : 5,
          "minutes" : 9,
          "days" : 2,
          "years" : 1
        }
      }
    },
    "DrivingDirectionsProcessOutputVO" : {
      "type" : "object",
      "properties" : {
        "distanceUnits" : {
          "type" : "string",
          "enum" : [ "KM", "MI" ]
        },
        "mapUrl" : {
          "type" : "string"
        },
        "steps" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/DrivingDirectionStep"
          }
        },
        "totalDistance" : {
          "$ref" : "#/definitions/Distance"
        },
        "totalTravelDuration" : {
          "$ref" : "#/definitions/Duration"
        },
        "ambiguousAddress" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/LocationDetail"
          }
        },
        "ambiguousLocationsReturned" : {
          "type" : "boolean",
          "default" : false
        },
        "cxsalerts" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/CXSAlert"
          }
        }
      },
      "example" : {
        "ambiguousLocationsReturned" : false,
        "ambiguousAddress" : [ {
          "geoPositionalCoordinates" : {
            "altitude" : 7.386281948385884,
            "heading" : 1.4894159098541704,
            "latitude" : 2.027123023002322,
            "accuracy" : 1.2315135367772556,
            "altitudeAccuracy" : 1.0246457001441578,
            "speed" : 6.84685269835264,
            "longitude" : 4.145608029883936
          },
          "packageAttributes" : {
            "weight" : {
              "units" : "KG",
              "value" : 7.457744773683766
            },
            "dimensions" : {
              "length" : 1,
              "width" : 4,
              "units" : "CM",
              "height" : 5
            }
          },
          "storeHours" : [ {
            "exceptionalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "dayofweek" : "SUNDAY",
            "operationalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "exceptionalHoursType" : "CLOSED_ALL_DAY",
            "operationalHoursType" : "CLOSED_ALL_DAY"
          }, {
            "exceptionalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "dayofweek" : "SUNDAY",
            "operationalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "exceptionalHoursType" : "CLOSED_ALL_DAY",
            "operationalHoursType" : "CLOSED_ALL_DAY"
          } ],
          "distance" : {
            "units" : "KM",
            "value" : 6.027456183070403
          },
          "locationAttributeTypes" : [ "ACCEPTS_CASH", "ACCEPTS_CASH" ],
          "locationType" : "FEDEX_AUTHORIZED_SHIP_CENTER",
          "carrierDetail" : [ {
            "serviceType" : "FIRST_OVERNIGHT",
            "countryRelationshipType" : "DOMESTIC",
            "carrierCodeType" : "FDXE",
            "latestDropoffDetails" : {
              "dayOfWeek" : "SUNDAY",
              "operationalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "exceptionalTime" : "exceptionalTime",
              "exceptionalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "operationTime" : "operationTime"
            },
            "serviceCategory" : "EXPRESS"
          }, {
            "serviceType" : "FIRST_OVERNIGHT",
            "countryRelationshipType" : "DOMESTIC",
            "carrierCodeType" : "FDXE",
            "latestDropoffDetails" : {
              "dayOfWeek" : "SUNDAY",
              "operationalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "exceptionalTime" : "exceptionalTime",
              "exceptionalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "operationTime" : "operationTime"
            },
            "serviceCategory" : "EXPRESS"
          } ],
          "locationId" : "locationId",
          "specialInstructions" : "specialInstructions",
          "lockerAvailability" : false,
          "locationCapabilities" : [ {
            "serviceType" : "serviceType",
            "transferOfPossessionType" : "transferOfPossessionType",
            "carrierCode" : "carrierCode",
            "daysOfWeek" : [ "daysOfWeek", "daysOfWeek" ],
            "serviceCategory" : "serviceCategory"
          }, {
            "serviceType" : "serviceType",
            "transferOfPossessionType" : "transferOfPossessionType",
            "carrierCode" : "carrierCode",
            "daysOfWeek" : [ "daysOfWeek", "daysOfWeek" ],
            "serviceCategory" : "serviceCategory"
          } ],
          "mapURL" : "mapURL",
          "rthservice" : "rthservice",
          "contactAndAddress" : {
            "address" : {
              "residential" : false,
              "addressClassification" : "MIXED",
              "city" : "city",
              "countryCode" : "countryCode",
              "streetLines" : [ "streetLines", "streetLines" ],
              "postalCode" : "postalCode",
              "addressVerificationId" : "addressVerificationId",
              "addressClassificationConfidence" : "POTENTIAL",
              "stateOrProvinceCode" : "stateOrProvinceCode",
              "shareId" : "shareId"
            },
            "displayName" : "displayName",
            "contact" : {
              "personName" : "personName",
              "fedralTaxId" : "fedralTaxId",
              "emailAddress" : "emailAddress",
              "parsedPersonName" : {
                "firstName" : "firstName",
                "lastName" : "lastName",
                "middleName" : "middleName",
                "suffix" : "suffix"
              },
              "phoneNumber" : "phoneNumber",
              "contactId" : "contactId",
              "phoneExtension" : "phoneExtension",
              "companyName" : "companyName",
              "faxNumber" : "faxNumber",
              "stateTaxId" : "stateTaxId"
            },
            "addressAncillaryDetail" : {
              "locationInCity" : "locationInCity",
              "suite" : "suite",
              "adderssVerificationOverrideReason" : "adderssVerificationOverrideReason",
              "locationInProperty" : "locationInProperty",
              "addtionalDescriptions" : "addtionalDescriptions",
              "department" : "department",
              "roomFloor" : "roomFloor",
              "crossStreet" : "crossStreet",
              "building" : "building",
              "apartment" : "apartment",
              "room" : "room"
            }
          }
        }, {
          "geoPositionalCoordinates" : {
            "altitude" : 7.386281948385884,
            "heading" : 1.4894159098541704,
            "latitude" : 2.027123023002322,
            "accuracy" : 1.2315135367772556,
            "altitudeAccuracy" : 1.0246457001441578,
            "speed" : 6.84685269835264,
            "longitude" : 4.145608029883936
          },
          "packageAttributes" : {
            "weight" : {
              "units" : "KG",
              "value" : 7.457744773683766
            },
            "dimensions" : {
              "length" : 1,
              "width" : 4,
              "units" : "CM",
              "height" : 5
            }
          },
          "storeHours" : [ {
            "exceptionalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "dayofweek" : "SUNDAY",
            "operationalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "exceptionalHoursType" : "CLOSED_ALL_DAY",
            "operationalHoursType" : "CLOSED_ALL_DAY"
          }, {
            "exceptionalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "dayofweek" : "SUNDAY",
            "operationalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "exceptionalHoursType" : "CLOSED_ALL_DAY",
            "operationalHoursType" : "CLOSED_ALL_DAY"
          } ],
          "distance" : {
            "units" : "KM",
            "value" : 6.027456183070403
          },
          "locationAttributeTypes" : [ "ACCEPTS_CASH", "ACCEPTS_CASH" ],
          "locationType" : "FEDEX_AUTHORIZED_SHIP_CENTER",
          "carrierDetail" : [ {
            "serviceType" : "FIRST_OVERNIGHT",
            "countryRelationshipType" : "DOMESTIC",
            "carrierCodeType" : "FDXE",
            "latestDropoffDetails" : {
              "dayOfWeek" : "SUNDAY",
              "operationalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "exceptionalTime" : "exceptionalTime",
              "exceptionalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "operationTime" : "operationTime"
            },
            "serviceCategory" : "EXPRESS"
          }, {
            "serviceType" : "FIRST_OVERNIGHT",
            "countryRelationshipType" : "DOMESTIC",
            "carrierCodeType" : "FDXE",
            "latestDropoffDetails" : {
              "dayOfWeek" : "SUNDAY",
              "operationalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "exceptionalTime" : "exceptionalTime",
              "exceptionalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "operationTime" : "operationTime"
            },
            "serviceCategory" : "EXPRESS"
          } ],
          "locationId" : "locationId",
          "specialInstructions" : "specialInstructions",
          "lockerAvailability" : false,
          "locationCapabilities" : [ {
            "serviceType" : "serviceType",
            "transferOfPossessionType" : "transferOfPossessionType",
            "carrierCode" : "carrierCode",
            "daysOfWeek" : [ "daysOfWeek", "daysOfWeek" ],
            "serviceCategory" : "serviceCategory"
          }, {
            "serviceType" : "serviceType",
            "transferOfPossessionType" : "transferOfPossessionType",
            "carrierCode" : "carrierCode",
            "daysOfWeek" : [ "daysOfWeek", "daysOfWeek" ],
            "serviceCategory" : "serviceCategory"
          } ],
          "mapURL" : "mapURL",
          "rthservice" : "rthservice",
          "contactAndAddress" : {
            "address" : {
              "residential" : false,
              "addressClassification" : "MIXED",
              "city" : "city",
              "countryCode" : "countryCode",
              "streetLines" : [ "streetLines", "streetLines" ],
              "postalCode" : "postalCode",
              "addressVerificationId" : "addressVerificationId",
              "addressClassificationConfidence" : "POTENTIAL",
              "stateOrProvinceCode" : "stateOrProvinceCode",
              "shareId" : "shareId"
            },
            "displayName" : "displayName",
            "contact" : {
              "personName" : "personName",
              "fedralTaxId" : "fedralTaxId",
              "emailAddress" : "emailAddress",
              "parsedPersonName" : {
                "firstName" : "firstName",
                "lastName" : "lastName",
                "middleName" : "middleName",
                "suffix" : "suffix"
              },
              "phoneNumber" : "phoneNumber",
              "contactId" : "contactId",
              "phoneExtension" : "phoneExtension",
              "companyName" : "companyName",
              "faxNumber" : "faxNumber",
              "stateTaxId" : "stateTaxId"
            },
            "addressAncillaryDetail" : {
              "locationInCity" : "locationInCity",
              "suite" : "suite",
              "adderssVerificationOverrideReason" : "adderssVerificationOverrideReason",
              "locationInProperty" : "locationInProperty",
              "addtionalDescriptions" : "addtionalDescriptions",
              "department" : "department",
              "roomFloor" : "roomFloor",
              "crossStreet" : "crossStreet",
              "building" : "building",
              "apartment" : "apartment",
              "room" : "room"
            }
          }
        } ],
        "totalTravelDuration" : {
          "hours" : 7,
          "seconds" : 3,
          "months" : 5,
          "weeks" : 5,
          "minutes" : 9,
          "days" : 2,
          "years" : 1
        },
        "distanceUnits" : "KM",
        "mapUrl" : "mapUrl",
        "totalDistance" : {
          "units" : "KM",
          "value" : 6.027456183070403
        },
        "steps" : [ {
          "sequence" : 0,
          "distance" : {
            "units" : "KM",
            "value" : 6.027456183070403
          },
          "instruction" : "instruction",
          "travelDuration" : {
            "hours" : 7,
            "seconds" : 3,
            "months" : 5,
            "weeks" : 5,
            "minutes" : 9,
            "days" : 2,
            "years" : 1
          }
        }, {
          "sequence" : 0,
          "distance" : {
            "units" : "KM",
            "value" : 6.027456183070403
          },
          "instruction" : "instruction",
          "travelDuration" : {
            "hours" : 7,
            "seconds" : 3,
            "months" : 5,
            "weeks" : 5,
            "minutes" : 9,
            "days" : 2,
            "years" : 1
          }
        } ],
        "cxsalerts" : [ {
          "code" : "code",
          "alertType" : "NOTE",
          "message" : "message"
        }, {
          "code" : "code",
          "alertType" : "NOTE",
          "message" : "message"
        } ]
      }
    },
    "Duration" : {
      "type" : "object",
      "properties" : {
        "years" : {
          "type" : "integer",
          "format" : "int32"
        },
        "months" : {
          "type" : "integer",
          "format" : "int32"
        },
        "weeks" : {
          "type" : "integer",
          "format" : "int32"
        },
        "days" : {
          "type" : "integer",
          "format" : "int32"
        },
        "hours" : {
          "type" : "integer",
          "format" : "int32"
        },
        "minutes" : {
          "type" : "integer",
          "format" : "int32"
        },
        "seconds" : {
          "type" : "integer",
          "format" : "int32"
        }
      },
      "example" : {
        "hours" : 7,
        "seconds" : 3,
        "months" : 5,
        "weeks" : 5,
        "minutes" : 9,
        "days" : 2,
        "years" : 1
      }
    },
    "FASTCarrierDetails" : {
      "type" : "object",
      "properties" : {
        "carrierCodeType" : {
          "type" : "string",
          "enum" : [ "FDXE", "FDXG", "FXSP", "FXFR", "FDXC", "FXCC" ]
        },
        "latestDropoffDetails" : {
          "$ref" : "#/definitions/LatestDropoffDetails"
        },
        "countryRelationshipType" : {
          "type" : "string",
          "enum" : [ "DOMESTIC", "INTERNATIONAL" ]
        },
        "serviceCategory" : {
          "type" : "string",
          "enum" : [ "EXPRESS", "GROUND", "EXPRESS_FREIGHT", "FREIGHT", "SMARTPOST", "EXPRESS_PARCEL", "NULL" ]
        },
        "serviceType" : {
          "type" : "string",
          "enum" : [ "FIRST_OVERNIGHT", "PRIORITY_OVERNIGHT", "STANDARD_OVERNIGHT", "FEDEX_2_DAY", "FEDEX_2_DAY_AM", "FEDEX_EXPRESS_SAVER", "FEDEX_GROUND", "INTERNATIONAL_GROUND", "FEDEX_HOME_DELIVERY", "FEDEX_FIRST_FREIGHT", "FEDEX_1_DAY_FREIGHT", "FEDEX_2_DAY_FREIGHT", "FEDEX_3_DAY_FREIGHT", "INTERNATIONAL_FIRST", "EUROPE_FIRST_INTERNATIONAL_PRIORITY", "INTERNATIONAL_PRIORITY", "INTERNATIONAL_PRIORITY_EXPRESS", "INTERNATIONAL_PRIORITY_DISTRIBUTION", "INTERNATIONAL_ECONOMY_DISTRIBUTION", "INTERNATIONAL_ECONOMY", "INTERNATIONAL_PRIORITY_FREIGHT", "INTERNATIONAL_ECONOMY_FREIGHT", "SMART_POST", "SMART_POST_MEDIA", "SMART_POST_BOUND_PRINT_MATTER", "FEDEX_FREIGHT_ECONOMY", "FEDEX_FREIGHT_PRIORITY", "SAME_DAY", "SAME_DAY_CITY", "INTERNATIONAL_DISTRIBUTION_FREIGHT", "FEDEX_NEXT_DAY_EARLY_MORNING", "FEDEX_NEXT_DAY_MID_MORNING", "FEDEX_NEXT_DAY_AFTERNOON", "FEDEX_NEXT_DAY_END_OF_DAY", "FEDEX_DISTANCE_DEFERRED", "FEDEX_NEXT_DAY_FREIGHT", "FIRST_OVERNIGHT_EXPRESS_FREIGHT" ]
        }
      },
      "example" : {
        "serviceType" : "FIRST_OVERNIGHT",
        "countryRelationshipType" : "DOMESTIC",
        "carrierCodeType" : "FDXE",
        "latestDropoffDetails" : {
          "dayOfWeek" : "SUNDAY",
          "operationalOverlay" : {
            "time" : "time",
            "type" : "DOMESTIC_CANADIAN"
          },
          "exceptionalTime" : "exceptionalTime",
          "exceptionalOverlay" : {
            "time" : "time",
            "type" : "DOMESTIC_CANADIAN"
          },
          "operationTime" : "operationTime"
        },
        "serviceCategory" : "EXPRESS"
      }
    },
    "GeoCode" : {
      "type" : "object",
      "properties" : {
        "longitude" : {
          "type" : "string"
        },
        "latitude" : {
          "type" : "string"
        }
      },
      "example" : {
        "latitude" : "latitude",
        "longitude" : "longitude"
      }
    },
    "GeoPositionalCoordinates" : {
      "type" : "object",
      "properties" : {
        "latitude" : {
          "type" : "number",
          "format" : "double"
        },
        "longitude" : {
          "type" : "number",
          "format" : "double"
        },
        "altitude" : {
          "type" : "number",
          "format" : "double"
        },
        "accuracy" : {
          "type" : "number",
          "format" : "double"
        },
        "altitudeAccuracy" : {
          "type" : "number",
          "format" : "double"
        },
        "heading" : {
          "type" : "number",
          "format" : "double"
        },
        "speed" : {
          "type" : "number",
          "format" : "double"
        }
      },
      "example" : {
        "altitude" : 7.386281948385884,
        "heading" : 1.4894159098541704,
        "latitude" : 2.027123023002322,
        "accuracy" : 1.2315135367772556,
        "altitudeAccuracy" : 1.0246457001441578,
        "speed" : 6.84685269835264,
        "longitude" : 4.145608029883936
      }
    },
    "LatestDropoffDetails" : {
      "type" : "object",
      "properties" : {
        "dayOfWeek" : {
          "type" : "string",
          "enum" : [ "SUNDAY", "MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY", "SATURDAY" ]
        },
        "operationTime" : {
          "type" : "string"
        },
        "operationalOverlay" : {
          "$ref" : "#/definitions/Overlay"
        },
        "exceptionalTime" : {
          "type" : "string"
        },
        "exceptionalOverlay" : {
          "$ref" : "#/definitions/Overlay"
        }
      },
      "example" : {
        "dayOfWeek" : "SUNDAY",
        "operationalOverlay" : {
          "time" : "time",
          "type" : "DOMESTIC_CANADIAN"
        },
        "exceptionalTime" : "exceptionalTime",
        "exceptionalOverlay" : {
          "time" : "time",
          "type" : "DOMESTIC_CANADIAN"
        },
        "operationTime" : "operationTime"
      }
    },
    "Location" : {
      "type" : "object",
      "properties" : {
        "address" : {
          "$ref" : "#/definitions/Address"
        },
        "longLat" : {
          "$ref" : "#/definitions/GeoCode"
        },
        "id" : {
          "type" : "string"
        }
      },
      "example" : {
        "address" : {
          "residential" : false,
          "addressClassification" : "MIXED",
          "city" : "city",
          "countryCode" : "countryCode",
          "streetLines" : [ "streetLines", "streetLines" ],
          "postalCode" : "postalCode",
          "addressVerificationId" : "addressVerificationId",
          "addressClassificationConfidence" : "POTENTIAL",
          "stateOrProvinceCode" : "stateOrProvinceCode",
          "shareId" : "shareId"
        },
        "longLat" : {
          "latitude" : "latitude",
          "longitude" : "longitude"
        },
        "id" : "id"
      }
    },
    "LocationCapabilities" : {
      "type" : "object",
      "properties" : {
        "carrierCode" : {
          "type" : "string"
        },
        "serviceType" : {
          "type" : "string"
        },
        "transferOfPossessionType" : {
          "type" : "string"
        },
        "serviceCategory" : {
          "type" : "string"
        },
        "daysOfWeek" : {
          "type" : "array",
          "items" : {
            "type" : "string"
          }
        }
      },
      "example" : {
        "serviceType" : "serviceType",
        "transferOfPossessionType" : "transferOfPossessionType",
        "carrierCode" : "carrierCode",
        "daysOfWeek" : [ "daysOfWeek", "daysOfWeek" ],
        "serviceCategory" : "serviceCategory"
      }
    },
    "LocationDetail" : {
      "type" : "object",
      "properties" : {
        "distance" : {
          "$ref" : "#/definitions/Distance"
        },
        "contactAndAddress" : {
          "$ref" : "#/definitions/ContactAndAddress"
        },
        "locationId" : {
          "type" : "string"
        },
        "mapURL" : {
          "type" : "string"
        },
        "storeHours" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/LocationHours"
          }
        },
        "carrierDetail" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/FASTCarrierDetails"
          }
        },
        "geoPositionalCoordinates" : {
          "$ref" : "#/definitions/GeoPositionalCoordinates"
        },
        "specialInstructions" : {
          "type" : "string"
        },
        "locationType" : {
          "type" : "string",
          "enum" : [ "FEDEX_AUTHORIZED_SHIP_CENTER", "FEDEX_OFFICE", "FEDEX_SELF_SERVICE_LOCATION", "FEDEX_STAFFED", "RETAIL_ALLICANCE_LOCATION", "FEDEX_GROUND_TERMINAL", "FEDEX_ONSITE", "FEDEX_SHIP_AND_GET" ]
        },
        "locationAttributeTypes" : {
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "ACCEPTS_CASH", "ALREADY_OPEN", "COPY_AND_PRINT_SERVICES", "DANGEROUS_GOODS_SERVICES", "DIRECT_MAIL_SERVICES", "EXPRESS_FREIGHT_DROPOFFS", "EXPRESS_PARCEL_DROPOFFS", "FEDEX_FREIGHT_DROPOFFS", "GROUND_DROPOFFS", "GROUND_HOME_DELIVERY_DROPOFFS", "LOCATION_IS_IN_AIRPORT", "NOTARY_SERVICES", "OBSERVES_DAY_LIGHT_SAVING_TIMES", "OPEN_TWENTY_FOUR_HOURS", "PACK_AND_SHIP", "PACKAGING_SUPPLIES", "PASSPORT_PHOTO_SERVICES", "RETURNS_SERVICES", "SATURDAY_DROPOFFS", "SIGNS_AND_BANNERS_SERVICE", "WEEKDAY_EXPRESS_HOLD_AT_LOCATION", "WEEKDAY_GROUND_HOLD_AT_LOCATION", "SONY_PICTURE_STATION", "EXPANDED_OFFICE_SUPPLIES_AND_TECHNOLOGY_PRODUCTS", "VIDEO_CONFERENCING", "SATURDAY_EXPRESS_HOLD_AT_LOCATION", "KIOSK_LOCATION", "STAFFED_LOCATION", "SAME_DAY_DROPOFFS", "SAME_DAY_CITY_DROPOFFS", "DROP_BOX", "SHIP_AND_GET", "DOMESTIC_SHIPPING_SERVICES", "INTERNATIONAL_SHIPPING_SERVICES" ]
          }
        },
        "lockerAvailability" : {
          "type" : "boolean",
          "default" : false
        },
        "packageAttributes" : {
          "$ref" : "#/definitions/PackageAttribute"
        },
        "locationCapabilities" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/LocationCapabilities"
          }
        },
        "rthservice" : {
          "type" : "string"
        }
      },
      "example" : {
        "geoPositionalCoordinates" : {
          "altitude" : 7.386281948385884,
          "heading" : 1.4894159098541704,
          "latitude" : 2.027123023002322,
          "accuracy" : 1.2315135367772556,
          "altitudeAccuracy" : 1.0246457001441578,
          "speed" : 6.84685269835264,
          "longitude" : 4.145608029883936
        },
        "packageAttributes" : {
          "weight" : {
            "units" : "KG",
            "value" : 7.457744773683766
          },
          "dimensions" : {
            "length" : 1,
            "width" : 4,
            "units" : "CM",
            "height" : 5
          }
        },
        "storeHours" : [ {
          "exceptionalHours" : [ {
            "begins" : "begins",
            "ends" : "ends"
          }, {
            "begins" : "begins",
            "ends" : "ends"
          } ],
          "dayofweek" : "SUNDAY",
          "operationalHours" : [ {
            "begins" : "begins",
            "ends" : "ends"
          }, {
            "begins" : "begins",
            "ends" : "ends"
          } ],
          "exceptionalHoursType" : "CLOSED_ALL_DAY",
          "operationalHoursType" : "CLOSED_ALL_DAY"
        }, {
          "exceptionalHours" : [ {
            "begins" : "begins",
            "ends" : "ends"
          }, {
            "begins" : "begins",
            "ends" : "ends"
          } ],
          "dayofweek" : "SUNDAY",
          "operationalHours" : [ {
            "begins" : "begins",
            "ends" : "ends"
          }, {
            "begins" : "begins",
            "ends" : "ends"
          } ],
          "exceptionalHoursType" : "CLOSED_ALL_DAY",
          "operationalHoursType" : "CLOSED_ALL_DAY"
        } ],
        "distance" : {
          "units" : "KM",
          "value" : 6.027456183070403
        },
        "locationAttributeTypes" : [ "ACCEPTS_CASH", "ACCEPTS_CASH" ],
        "locationType" : "FEDEX_AUTHORIZED_SHIP_CENTER",
        "carrierDetail" : [ {
          "serviceType" : "FIRST_OVERNIGHT",
          "countryRelationshipType" : "DOMESTIC",
          "carrierCodeType" : "FDXE",
          "latestDropoffDetails" : {
            "dayOfWeek" : "SUNDAY",
            "operationalOverlay" : {
              "time" : "time",
              "type" : "DOMESTIC_CANADIAN"
            },
            "exceptionalTime" : "exceptionalTime",
            "exceptionalOverlay" : {
              "time" : "time",
              "type" : "DOMESTIC_CANADIAN"
            },
            "operationTime" : "operationTime"
          },
          "serviceCategory" : "EXPRESS"
        }, {
          "serviceType" : "FIRST_OVERNIGHT",
          "countryRelationshipType" : "DOMESTIC",
          "carrierCodeType" : "FDXE",
          "latestDropoffDetails" : {
            "dayOfWeek" : "SUNDAY",
            "operationalOverlay" : {
              "time" : "time",
              "type" : "DOMESTIC_CANADIAN"
            },
            "exceptionalTime" : "exceptionalTime",
            "exceptionalOverlay" : {
              "time" : "time",
              "type" : "DOMESTIC_CANADIAN"
            },
            "operationTime" : "operationTime"
          },
          "serviceCategory" : "EXPRESS"
        } ],
        "locationId" : "locationId",
        "specialInstructions" : "specialInstructions",
        "lockerAvailability" : false,
        "locationCapabilities" : [ {
          "serviceType" : "serviceType",
          "transferOfPossessionType" : "transferOfPossessionType",
          "carrierCode" : "carrierCode",
          "daysOfWeek" : [ "daysOfWeek", "daysOfWeek" ],
          "serviceCategory" : "serviceCategory"
        }, {
          "serviceType" : "serviceType",
          "transferOfPossessionType" : "transferOfPossessionType",
          "carrierCode" : "carrierCode",
          "daysOfWeek" : [ "daysOfWeek", "daysOfWeek" ],
          "serviceCategory" : "serviceCategory"
        } ],
        "mapURL" : "mapURL",
        "rthservice" : "rthservice",
        "contactAndAddress" : {
          "address" : {
            "residential" : false,
            "addressClassification" : "MIXED",
            "city" : "city",
            "countryCode" : "countryCode",
            "streetLines" : [ "streetLines", "streetLines" ],
            "postalCode" : "postalCode",
            "addressVerificationId" : "addressVerificationId",
            "addressClassificationConfidence" : "POTENTIAL",
            "stateOrProvinceCode" : "stateOrProvinceCode",
            "shareId" : "shareId"
          },
          "displayName" : "displayName",
          "contact" : {
            "personName" : "personName",
            "fedralTaxId" : "fedralTaxId",
            "emailAddress" : "emailAddress",
            "parsedPersonName" : {
              "firstName" : "firstName",
              "lastName" : "lastName",
              "middleName" : "middleName",
              "suffix" : "suffix"
            },
            "phoneNumber" : "phoneNumber",
            "contactId" : "contactId",
            "phoneExtension" : "phoneExtension",
            "companyName" : "companyName",
            "faxNumber" : "faxNumber",
            "stateTaxId" : "stateTaxId"
          },
          "addressAncillaryDetail" : {
            "locationInCity" : "locationInCity",
            "suite" : "suite",
            "adderssVerificationOverrideReason" : "adderssVerificationOverrideReason",
            "locationInProperty" : "locationInProperty",
            "addtionalDescriptions" : "addtionalDescriptions",
            "department" : "department",
            "roomFloor" : "roomFloor",
            "crossStreet" : "crossStreet",
            "building" : "building",
            "apartment" : "apartment",
            "room" : "room"
          }
        }
      }
    },
    "LocationDetailProcssOutputVO" : {
      "type" : "object",
      "properties" : {
        "totalResults" : {
          "type" : "integer",
          "format" : "int32"
        },
        "resultsReturned" : {
          "type" : "integer",
          "format" : "int32"
        },
        "locationDetails" : {
          "$ref" : "#/definitions/LocationDetail"
        },
        "cxsalerts" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/CXSAlert"
          }
        }
      },
      "example" : {
        "totalResults" : 0,
        "resultsReturned" : 6,
        "locationDetails" : {
          "geoPositionalCoordinates" : {
            "altitude" : 7.386281948385884,
            "heading" : 1.4894159098541704,
            "latitude" : 2.027123023002322,
            "accuracy" : 1.2315135367772556,
            "altitudeAccuracy" : 1.0246457001441578,
            "speed" : 6.84685269835264,
            "longitude" : 4.145608029883936
          },
          "packageAttributes" : {
            "weight" : {
              "units" : "KG",
              "value" : 7.457744773683766
            },
            "dimensions" : {
              "length" : 1,
              "width" : 4,
              "units" : "CM",
              "height" : 5
            }
          },
          "storeHours" : [ {
            "exceptionalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "dayofweek" : "SUNDAY",
            "operationalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "exceptionalHoursType" : "CLOSED_ALL_DAY",
            "operationalHoursType" : "CLOSED_ALL_DAY"
          }, {
            "exceptionalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "dayofweek" : "SUNDAY",
            "operationalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "exceptionalHoursType" : "CLOSED_ALL_DAY",
            "operationalHoursType" : "CLOSED_ALL_DAY"
          } ],
          "distance" : {
            "units" : "KM",
            "value" : 6.027456183070403
          },
          "locationAttributeTypes" : [ "ACCEPTS_CASH", "ACCEPTS_CASH" ],
          "locationType" : "FEDEX_AUTHORIZED_SHIP_CENTER",
          "carrierDetail" : [ {
            "serviceType" : "FIRST_OVERNIGHT",
            "countryRelationshipType" : "DOMESTIC",
            "carrierCodeType" : "FDXE",
            "latestDropoffDetails" : {
              "dayOfWeek" : "SUNDAY",
              "operationalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "exceptionalTime" : "exceptionalTime",
              "exceptionalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "operationTime" : "operationTime"
            },
            "serviceCategory" : "EXPRESS"
          }, {
            "serviceType" : "FIRST_OVERNIGHT",
            "countryRelationshipType" : "DOMESTIC",
            "carrierCodeType" : "FDXE",
            "latestDropoffDetails" : {
              "dayOfWeek" : "SUNDAY",
              "operationalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "exceptionalTime" : "exceptionalTime",
              "exceptionalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "operationTime" : "operationTime"
            },
            "serviceCategory" : "EXPRESS"
          } ],
          "locationId" : "locationId",
          "specialInstructions" : "specialInstructions",
          "lockerAvailability" : false,
          "locationCapabilities" : [ {
            "serviceType" : "serviceType",
            "transferOfPossessionType" : "transferOfPossessionType",
            "carrierCode" : "carrierCode",
            "daysOfWeek" : [ "daysOfWeek", "daysOfWeek" ],
            "serviceCategory" : "serviceCategory"
          }, {
            "serviceType" : "serviceType",
            "transferOfPossessionType" : "transferOfPossessionType",
            "carrierCode" : "carrierCode",
            "daysOfWeek" : [ "daysOfWeek", "daysOfWeek" ],
            "serviceCategory" : "serviceCategory"
          } ],
          "mapURL" : "mapURL",
          "rthservice" : "rthservice",
          "contactAndAddress" : {
            "address" : {
              "residential" : false,
              "addressClassification" : "MIXED",
              "city" : "city",
              "countryCode" : "countryCode",
              "streetLines" : [ "streetLines", "streetLines" ],
              "postalCode" : "postalCode",
              "addressVerificationId" : "addressVerificationId",
              "addressClassificationConfidence" : "POTENTIAL",
              "stateOrProvinceCode" : "stateOrProvinceCode",
              "shareId" : "shareId"
            },
            "displayName" : "displayName",
            "contact" : {
              "personName" : "personName",
              "fedralTaxId" : "fedralTaxId",
              "emailAddress" : "emailAddress",
              "parsedPersonName" : {
                "firstName" : "firstName",
                "lastName" : "lastName",
                "middleName" : "middleName",
                "suffix" : "suffix"
              },
              "phoneNumber" : "phoneNumber",
              "contactId" : "contactId",
              "phoneExtension" : "phoneExtension",
              "companyName" : "companyName",
              "faxNumber" : "faxNumber",
              "stateTaxId" : "stateTaxId"
            },
            "addressAncillaryDetail" : {
              "locationInCity" : "locationInCity",
              "suite" : "suite",
              "adderssVerificationOverrideReason" : "adderssVerificationOverrideReason",
              "locationInProperty" : "locationInProperty",
              "addtionalDescriptions" : "addtionalDescriptions",
              "department" : "department",
              "roomFloor" : "roomFloor",
              "crossStreet" : "crossStreet",
              "building" : "building",
              "apartment" : "apartment",
              "room" : "room"
            }
          }
        },
        "cxsalerts" : [ {
          "code" : "code",
          "alertType" : "NOTE",
          "message" : "message"
        }, {
          "code" : "code",
          "alertType" : "NOTE",
          "message" : "message"
        } ]
      }
    },
    "LocationHours" : {
      "type" : "object",
      "properties" : {
        "dayofweek" : {
          "type" : "string",
          "enum" : [ "SUNDAY", "MONDAY", "TUESDAY", "WEDNESDAY", "THURSDAY", "FRIDAY", "SATURDAY" ]
        },
        "operationalHoursType" : {
          "type" : "string",
          "enum" : [ "CLOSED_ALL_DAY", "OPEN_ALL_DAY", "OPEN_BY_HOURS" ]
        },
        "operationalHours" : {
          "type" : "array",
          "xml" : {
            "name" : "operationalHoursList",
            "wrapped" : true
          },
          "items" : {
            "$ref" : "#/definitions/TimeRange"
          }
        },
        "exceptionalHoursType" : {
          "type" : "string",
          "enum" : [ "CLOSED_ALL_DAY", "OPEN_ALL_DAY", "OPEN_BY_HOURS" ]
        },
        "exceptionalHours" : {
          "type" : "array",
          "xml" : {
            "name" : "exceptionalHoursList",
            "wrapped" : true
          },
          "items" : {
            "$ref" : "#/definitions/TimeRange"
          }
        }
      },
      "example" : {
        "exceptionalHours" : [ {
          "begins" : "begins",
          "ends" : "ends"
        }, {
          "begins" : "begins",
          "ends" : "ends"
        } ],
        "dayofweek" : "SUNDAY",
        "operationalHours" : [ {
          "begins" : "begins",
          "ends" : "ends"
        }, {
          "begins" : "begins",
          "ends" : "ends"
        } ],
        "exceptionalHoursType" : "CLOSED_ALL_DAY",
        "operationalHoursType" : "CLOSED_ALL_DAY"
      }
    },
    "LocationSummaryOutputVO" : {
      "type" : "object",
      "properties" : {
        "totalResults" : {
          "type" : "integer",
          "format" : "int32"
        },
        "resultsReturned" : {
          "type" : "integer",
          "format" : "int32"
        },
        "matchedAddress" : {
          "$ref" : "#/definitions/Address"
        },
        "ambiguousAddress" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/LocationDetail"
          }
        },
        "matchedAddressGeoCoord" : {
          "$ref" : "#/definitions/GeoPositionalCoordinates"
        },
        "locationDetail" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/LocationDetail"
          }
        },
        "nearestLocation" : {
          "$ref" : "#/definitions/LocationDetail"
        },
        "latestLocation" : {
          "$ref" : "#/definitions/LocationDetail"
        },
        "ambiguousLocationsReturned" : {
          "type" : "boolean",
          "default" : false
        },
        "nearestLocationReturned" : {
          "type" : "boolean",
          "default" : false
        },
        "latestLocationReturned" : {
          "type" : "boolean",
          "default" : false
        },
        "lockerAvailabilityCode" : {
          "type" : "integer",
          "format" : "int32"
        },
        "lockerAvailabilityMessage" : {
          "type" : "string"
        },
        "cxsalerts" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/CXSAlert"
          }
        }
      },
      "example" : {
        "lockerAvailabilityCode" : 1,
        "ambiguousAddress" : [ {
          "geoPositionalCoordinates" : {
            "altitude" : 7.386281948385884,
            "heading" : 1.4894159098541704,
            "latitude" : 2.027123023002322,
            "accuracy" : 1.2315135367772556,
            "altitudeAccuracy" : 1.0246457001441578,
            "speed" : 6.84685269835264,
            "longitude" : 4.145608029883936
          },
          "packageAttributes" : {
            "weight" : {
              "units" : "KG",
              "value" : 7.457744773683766
            },
            "dimensions" : {
              "length" : 1,
              "width" : 4,
              "units" : "CM",
              "height" : 5
            }
          },
          "storeHours" : [ {
            "exceptionalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "dayofweek" : "SUNDAY",
            "operationalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "exceptionalHoursType" : "CLOSED_ALL_DAY",
            "operationalHoursType" : "CLOSED_ALL_DAY"
          }, {
            "exceptionalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "dayofweek" : "SUNDAY",
            "operationalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "exceptionalHoursType" : "CLOSED_ALL_DAY",
            "operationalHoursType" : "CLOSED_ALL_DAY"
          } ],
          "distance" : {
            "units" : "KM",
            "value" : 6.027456183070403
          },
          "locationAttributeTypes" : [ "ACCEPTS_CASH", "ACCEPTS_CASH" ],
          "locationType" : "FEDEX_AUTHORIZED_SHIP_CENTER",
          "carrierDetail" : [ {
            "serviceType" : "FIRST_OVERNIGHT",
            "countryRelationshipType" : "DOMESTIC",
            "carrierCodeType" : "FDXE",
            "latestDropoffDetails" : {
              "dayOfWeek" : "SUNDAY",
              "operationalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "exceptionalTime" : "exceptionalTime",
              "exceptionalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "operationTime" : "operationTime"
            },
            "serviceCategory" : "EXPRESS"
          }, {
            "serviceType" : "FIRST_OVERNIGHT",
            "countryRelationshipType" : "DOMESTIC",
            "carrierCodeType" : "FDXE",
            "latestDropoffDetails" : {
              "dayOfWeek" : "SUNDAY",
              "operationalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "exceptionalTime" : "exceptionalTime",
              "exceptionalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "operationTime" : "operationTime"
            },
            "serviceCategory" : "EXPRESS"
          } ],
          "locationId" : "locationId",
          "specialInstructions" : "specialInstructions",
          "lockerAvailability" : false,
          "locationCapabilities" : [ {
            "serviceType" : "serviceType",
            "transferOfPossessionType" : "transferOfPossessionType",
            "carrierCode" : "carrierCode",
            "daysOfWeek" : [ "daysOfWeek", "daysOfWeek" ],
            "serviceCategory" : "serviceCategory"
          }, {
            "serviceType" : "serviceType",
            "transferOfPossessionType" : "transferOfPossessionType",
            "carrierCode" : "carrierCode",
            "daysOfWeek" : [ "daysOfWeek", "daysOfWeek" ],
            "serviceCategory" : "serviceCategory"
          } ],
          "mapURL" : "mapURL",
          "rthservice" : "rthservice",
          "contactAndAddress" : {
            "address" : {
              "residential" : false,
              "addressClassification" : "MIXED",
              "city" : "city",
              "countryCode" : "countryCode",
              "streetLines" : [ "streetLines", "streetLines" ],
              "postalCode" : "postalCode",
              "addressVerificationId" : "addressVerificationId",
              "addressClassificationConfidence" : "POTENTIAL",
              "stateOrProvinceCode" : "stateOrProvinceCode",
              "shareId" : "shareId"
            },
            "displayName" : "displayName",
            "contact" : {
              "personName" : "personName",
              "fedralTaxId" : "fedralTaxId",
              "emailAddress" : "emailAddress",
              "parsedPersonName" : {
                "firstName" : "firstName",
                "lastName" : "lastName",
                "middleName" : "middleName",
                "suffix" : "suffix"
              },
              "phoneNumber" : "phoneNumber",
              "contactId" : "contactId",
              "phoneExtension" : "phoneExtension",
              "companyName" : "companyName",
              "faxNumber" : "faxNumber",
              "stateTaxId" : "stateTaxId"
            },
            "addressAncillaryDetail" : {
              "locationInCity" : "locationInCity",
              "suite" : "suite",
              "adderssVerificationOverrideReason" : "adderssVerificationOverrideReason",
              "locationInProperty" : "locationInProperty",
              "addtionalDescriptions" : "addtionalDescriptions",
              "department" : "department",
              "roomFloor" : "roomFloor",
              "crossStreet" : "crossStreet",
              "building" : "building",
              "apartment" : "apartment",
              "room" : "room"
            }
          }
        }, {
          "geoPositionalCoordinates" : {
            "altitude" : 7.386281948385884,
            "heading" : 1.4894159098541704,
            "latitude" : 2.027123023002322,
            "accuracy" : 1.2315135367772556,
            "altitudeAccuracy" : 1.0246457001441578,
            "speed" : 6.84685269835264,
            "longitude" : 4.145608029883936
          },
          "packageAttributes" : {
            "weight" : {
              "units" : "KG",
              "value" : 7.457744773683766
            },
            "dimensions" : {
              "length" : 1,
              "width" : 4,
              "units" : "CM",
              "height" : 5
            }
          },
          "storeHours" : [ {
            "exceptionalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "dayofweek" : "SUNDAY",
            "operationalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "exceptionalHoursType" : "CLOSED_ALL_DAY",
            "operationalHoursType" : "CLOSED_ALL_DAY"
          }, {
            "exceptionalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "dayofweek" : "SUNDAY",
            "operationalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "exceptionalHoursType" : "CLOSED_ALL_DAY",
            "operationalHoursType" : "CLOSED_ALL_DAY"
          } ],
          "distance" : {
            "units" : "KM",
            "value" : 6.027456183070403
          },
          "locationAttributeTypes" : [ "ACCEPTS_CASH", "ACCEPTS_CASH" ],
          "locationType" : "FEDEX_AUTHORIZED_SHIP_CENTER",
          "carrierDetail" : [ {
            "serviceType" : "FIRST_OVERNIGHT",
            "countryRelationshipType" : "DOMESTIC",
            "carrierCodeType" : "FDXE",
            "latestDropoffDetails" : {
              "dayOfWeek" : "SUNDAY",
              "operationalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "exceptionalTime" : "exceptionalTime",
              "exceptionalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "operationTime" : "operationTime"
            },
            "serviceCategory" : "EXPRESS"
          }, {
            "serviceType" : "FIRST_OVERNIGHT",
            "countryRelationshipType" : "DOMESTIC",
            "carrierCodeType" : "FDXE",
            "latestDropoffDetails" : {
              "dayOfWeek" : "SUNDAY",
              "operationalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "exceptionalTime" : "exceptionalTime",
              "exceptionalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "operationTime" : "operationTime"
            },
            "serviceCategory" : "EXPRESS"
          } ],
          "locationId" : "locationId",
          "specialInstructions" : "specialInstructions",
          "lockerAvailability" : false,
          "locationCapabilities" : [ {
            "serviceType" : "serviceType",
            "transferOfPossessionType" : "transferOfPossessionType",
            "carrierCode" : "carrierCode",
            "daysOfWeek" : [ "daysOfWeek", "daysOfWeek" ],
            "serviceCategory" : "serviceCategory"
          }, {
            "serviceType" : "serviceType",
            "transferOfPossessionType" : "transferOfPossessionType",
            "carrierCode" : "carrierCode",
            "daysOfWeek" : [ "daysOfWeek", "daysOfWeek" ],
            "serviceCategory" : "serviceCategory"
          } ],
          "mapURL" : "mapURL",
          "rthservice" : "rthservice",
          "contactAndAddress" : {
            "address" : {
              "residential" : false,
              "addressClassification" : "MIXED",
              "city" : "city",
              "countryCode" : "countryCode",
              "streetLines" : [ "streetLines", "streetLines" ],
              "postalCode" : "postalCode",
              "addressVerificationId" : "addressVerificationId",
              "addressClassificationConfidence" : "POTENTIAL",
              "stateOrProvinceCode" : "stateOrProvinceCode",
              "shareId" : "shareId"
            },
            "displayName" : "displayName",
            "contact" : {
              "personName" : "personName",
              "fedralTaxId" : "fedralTaxId",
              "emailAddress" : "emailAddress",
              "parsedPersonName" : {
                "firstName" : "firstName",
                "lastName" : "lastName",
                "middleName" : "middleName",
                "suffix" : "suffix"
              },
              "phoneNumber" : "phoneNumber",
              "contactId" : "contactId",
              "phoneExtension" : "phoneExtension",
              "companyName" : "companyName",
              "faxNumber" : "faxNumber",
              "stateTaxId" : "stateTaxId"
            },
            "addressAncillaryDetail" : {
              "locationInCity" : "locationInCity",
              "suite" : "suite",
              "adderssVerificationOverrideReason" : "adderssVerificationOverrideReason",
              "locationInProperty" : "locationInProperty",
              "addtionalDescriptions" : "addtionalDescriptions",
              "department" : "department",
              "roomFloor" : "roomFloor",
              "crossStreet" : "crossStreet",
              "building" : "building",
              "apartment" : "apartment",
              "room" : "room"
            }
          }
        } ],
        "matchedAddressGeoCoord" : {
          "altitude" : 7.386281948385884,
          "heading" : 1.4894159098541704,
          "latitude" : 2.027123023002322,
          "accuracy" : 1.2315135367772556,
          "altitudeAccuracy" : 1.0246457001441578,
          "speed" : 6.84685269835264,
          "longitude" : 4.145608029883936
        },
        "latestLocation" : {
          "geoPositionalCoordinates" : {
            "altitude" : 7.386281948385884,
            "heading" : 1.4894159098541704,
            "latitude" : 2.027123023002322,
            "accuracy" : 1.2315135367772556,
            "altitudeAccuracy" : 1.0246457001441578,
            "speed" : 6.84685269835264,
            "longitude" : 4.145608029883936
          },
          "packageAttributes" : {
            "weight" : {
              "units" : "KG",
              "value" : 7.457744773683766
            },
            "dimensions" : {
              "length" : 1,
              "width" : 4,
              "units" : "CM",
              "height" : 5
            }
          },
          "storeHours" : [ {
            "exceptionalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "dayofweek" : "SUNDAY",
            "operationalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "exceptionalHoursType" : "CLOSED_ALL_DAY",
            "operationalHoursType" : "CLOSED_ALL_DAY"
          }, {
            "exceptionalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "dayofweek" : "SUNDAY",
            "operationalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "exceptionalHoursType" : "CLOSED_ALL_DAY",
            "operationalHoursType" : "CLOSED_ALL_DAY"
          } ],
          "distance" : {
            "units" : "KM",
            "value" : 6.027456183070403
          },
          "locationAttributeTypes" : [ "ACCEPTS_CASH", "ACCEPTS_CASH" ],
          "locationType" : "FEDEX_AUTHORIZED_SHIP_CENTER",
          "carrierDetail" : [ {
            "serviceType" : "FIRST_OVERNIGHT",
            "countryRelationshipType" : "DOMESTIC",
            "carrierCodeType" : "FDXE",
            "latestDropoffDetails" : {
              "dayOfWeek" : "SUNDAY",
              "operationalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "exceptionalTime" : "exceptionalTime",
              "exceptionalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "operationTime" : "operationTime"
            },
            "serviceCategory" : "EXPRESS"
          }, {
            "serviceType" : "FIRST_OVERNIGHT",
            "countryRelationshipType" : "DOMESTIC",
            "carrierCodeType" : "FDXE",
            "latestDropoffDetails" : {
              "dayOfWeek" : "SUNDAY",
              "operationalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "exceptionalTime" : "exceptionalTime",
              "exceptionalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "operationTime" : "operationTime"
            },
            "serviceCategory" : "EXPRESS"
          } ],
          "locationId" : "locationId",
          "specialInstructions" : "specialInstructions",
          "lockerAvailability" : false,
          "locationCapabilities" : [ {
            "serviceType" : "serviceType",
            "transferOfPossessionType" : "transferOfPossessionType",
            "carrierCode" : "carrierCode",
            "daysOfWeek" : [ "daysOfWeek", "daysOfWeek" ],
            "serviceCategory" : "serviceCategory"
          }, {
            "serviceType" : "serviceType",
            "transferOfPossessionType" : "transferOfPossessionType",
            "carrierCode" : "carrierCode",
            "daysOfWeek" : [ "daysOfWeek", "daysOfWeek" ],
            "serviceCategory" : "serviceCategory"
          } ],
          "mapURL" : "mapURL",
          "rthservice" : "rthservice",
          "contactAndAddress" : {
            "address" : {
              "residential" : false,
              "addressClassification" : "MIXED",
              "city" : "city",
              "countryCode" : "countryCode",
              "streetLines" : [ "streetLines", "streetLines" ],
              "postalCode" : "postalCode",
              "addressVerificationId" : "addressVerificationId",
              "addressClassificationConfidence" : "POTENTIAL",
              "stateOrProvinceCode" : "stateOrProvinceCode",
              "shareId" : "shareId"
            },
            "displayName" : "displayName",
            "contact" : {
              "personName" : "personName",
              "fedralTaxId" : "fedralTaxId",
              "emailAddress" : "emailAddress",
              "parsedPersonName" : {
                "firstName" : "firstName",
                "lastName" : "lastName",
                "middleName" : "middleName",
                "suffix" : "suffix"
              },
              "phoneNumber" : "phoneNumber",
              "contactId" : "contactId",
              "phoneExtension" : "phoneExtension",
              "companyName" : "companyName",
              "faxNumber" : "faxNumber",
              "stateTaxId" : "stateTaxId"
            },
            "addressAncillaryDetail" : {
              "locationInCity" : "locationInCity",
              "suite" : "suite",
              "adderssVerificationOverrideReason" : "adderssVerificationOverrideReason",
              "locationInProperty" : "locationInProperty",
              "addtionalDescriptions" : "addtionalDescriptions",
              "department" : "department",
              "roomFloor" : "roomFloor",
              "crossStreet" : "crossStreet",
              "building" : "building",
              "apartment" : "apartment",
              "room" : "room"
            }
          }
        },
        "nearestLocationReturned" : false,
        "cxsalerts" : [ {
          "code" : "code",
          "alertType" : "NOTE",
          "message" : "message"
        }, {
          "code" : "code",
          "alertType" : "NOTE",
          "message" : "message"
        } ],
        "matchedAddress" : {
          "residential" : false,
          "addressClassification" : "MIXED",
          "city" : "city",
          "countryCode" : "countryCode",
          "streetLines" : [ "streetLines", "streetLines" ],
          "postalCode" : "postalCode",
          "addressVerificationId" : "addressVerificationId",
          "addressClassificationConfidence" : "POTENTIAL",
          "stateOrProvinceCode" : "stateOrProvinceCode",
          "shareId" : "shareId"
        },
        "latestLocationReturned" : false,
        "totalResults" : 0,
        "ambiguousLocationsReturned" : false,
        "resultsReturned" : 6,
        "locationDetail" : [ {
          "geoPositionalCoordinates" : {
            "altitude" : 7.386281948385884,
            "heading" : 1.4894159098541704,
            "latitude" : 2.027123023002322,
            "accuracy" : 1.2315135367772556,
            "altitudeAccuracy" : 1.0246457001441578,
            "speed" : 6.84685269835264,
            "longitude" : 4.145608029883936
          },
          "packageAttributes" : {
            "weight" : {
              "units" : "KG",
              "value" : 7.457744773683766
            },
            "dimensions" : {
              "length" : 1,
              "width" : 4,
              "units" : "CM",
              "height" : 5
            }
          },
          "storeHours" : [ {
            "exceptionalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "dayofweek" : "SUNDAY",
            "operationalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "exceptionalHoursType" : "CLOSED_ALL_DAY",
            "operationalHoursType" : "CLOSED_ALL_DAY"
          }, {
            "exceptionalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "dayofweek" : "SUNDAY",
            "operationalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "exceptionalHoursType" : "CLOSED_ALL_DAY",
            "operationalHoursType" : "CLOSED_ALL_DAY"
          } ],
          "distance" : {
            "units" : "KM",
            "value" : 6.027456183070403
          },
          "locationAttributeTypes" : [ "ACCEPTS_CASH", "ACCEPTS_CASH" ],
          "locationType" : "FEDEX_AUTHORIZED_SHIP_CENTER",
          "carrierDetail" : [ {
            "serviceType" : "FIRST_OVERNIGHT",
            "countryRelationshipType" : "DOMESTIC",
            "carrierCodeType" : "FDXE",
            "latestDropoffDetails" : {
              "dayOfWeek" : "SUNDAY",
              "operationalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "exceptionalTime" : "exceptionalTime",
              "exceptionalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "operationTime" : "operationTime"
            },
            "serviceCategory" : "EXPRESS"
          }, {
            "serviceType" : "FIRST_OVERNIGHT",
            "countryRelationshipType" : "DOMESTIC",
            "carrierCodeType" : "FDXE",
            "latestDropoffDetails" : {
              "dayOfWeek" : "SUNDAY",
              "operationalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "exceptionalTime" : "exceptionalTime",
              "exceptionalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "operationTime" : "operationTime"
            },
            "serviceCategory" : "EXPRESS"
          } ],
          "locationId" : "locationId",
          "specialInstructions" : "specialInstructions",
          "lockerAvailability" : false,
          "locationCapabilities" : [ {
            "serviceType" : "serviceType",
            "transferOfPossessionType" : "transferOfPossessionType",
            "carrierCode" : "carrierCode",
            "daysOfWeek" : [ "daysOfWeek", "daysOfWeek" ],
            "serviceCategory" : "serviceCategory"
          }, {
            "serviceType" : "serviceType",
            "transferOfPossessionType" : "transferOfPossessionType",
            "carrierCode" : "carrierCode",
            "daysOfWeek" : [ "daysOfWeek", "daysOfWeek" ],
            "serviceCategory" : "serviceCategory"
          } ],
          "mapURL" : "mapURL",
          "rthservice" : "rthservice",
          "contactAndAddress" : {
            "address" : {
              "residential" : false,
              "addressClassification" : "MIXED",
              "city" : "city",
              "countryCode" : "countryCode",
              "streetLines" : [ "streetLines", "streetLines" ],
              "postalCode" : "postalCode",
              "addressVerificationId" : "addressVerificationId",
              "addressClassificationConfidence" : "POTENTIAL",
              "stateOrProvinceCode" : "stateOrProvinceCode",
              "shareId" : "shareId"
            },
            "displayName" : "displayName",
            "contact" : {
              "personName" : "personName",
              "fedralTaxId" : "fedralTaxId",
              "emailAddress" : "emailAddress",
              "parsedPersonName" : {
                "firstName" : "firstName",
                "lastName" : "lastName",
                "middleName" : "middleName",
                "suffix" : "suffix"
              },
              "phoneNumber" : "phoneNumber",
              "contactId" : "contactId",
              "phoneExtension" : "phoneExtension",
              "companyName" : "companyName",
              "faxNumber" : "faxNumber",
              "stateTaxId" : "stateTaxId"
            },
            "addressAncillaryDetail" : {
              "locationInCity" : "locationInCity",
              "suite" : "suite",
              "adderssVerificationOverrideReason" : "adderssVerificationOverrideReason",
              "locationInProperty" : "locationInProperty",
              "addtionalDescriptions" : "addtionalDescriptions",
              "department" : "department",
              "roomFloor" : "roomFloor",
              "crossStreet" : "crossStreet",
              "building" : "building",
              "apartment" : "apartment",
              "room" : "room"
            }
          }
        }, {
          "geoPositionalCoordinates" : {
            "altitude" : 7.386281948385884,
            "heading" : 1.4894159098541704,
            "latitude" : 2.027123023002322,
            "accuracy" : 1.2315135367772556,
            "altitudeAccuracy" : 1.0246457001441578,
            "speed" : 6.84685269835264,
            "longitude" : 4.145608029883936
          },
          "packageAttributes" : {
            "weight" : {
              "units" : "KG",
              "value" : 7.457744773683766
            },
            "dimensions" : {
              "length" : 1,
              "width" : 4,
              "units" : "CM",
              "height" : 5
            }
          },
          "storeHours" : [ {
            "exceptionalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "dayofweek" : "SUNDAY",
            "operationalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "exceptionalHoursType" : "CLOSED_ALL_DAY",
            "operationalHoursType" : "CLOSED_ALL_DAY"
          }, {
            "exceptionalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "dayofweek" : "SUNDAY",
            "operationalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "exceptionalHoursType" : "CLOSED_ALL_DAY",
            "operationalHoursType" : "CLOSED_ALL_DAY"
          } ],
          "distance" : {
            "units" : "KM",
            "value" : 6.027456183070403
          },
          "locationAttributeTypes" : [ "ACCEPTS_CASH", "ACCEPTS_CASH" ],
          "locationType" : "FEDEX_AUTHORIZED_SHIP_CENTER",
          "carrierDetail" : [ {
            "serviceType" : "FIRST_OVERNIGHT",
            "countryRelationshipType" : "DOMESTIC",
            "carrierCodeType" : "FDXE",
            "latestDropoffDetails" : {
              "dayOfWeek" : "SUNDAY",
              "operationalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "exceptionalTime" : "exceptionalTime",
              "exceptionalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "operationTime" : "operationTime"
            },
            "serviceCategory" : "EXPRESS"
          }, {
            "serviceType" : "FIRST_OVERNIGHT",
            "countryRelationshipType" : "DOMESTIC",
            "carrierCodeType" : "FDXE",
            "latestDropoffDetails" : {
              "dayOfWeek" : "SUNDAY",
              "operationalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "exceptionalTime" : "exceptionalTime",
              "exceptionalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "operationTime" : "operationTime"
            },
            "serviceCategory" : "EXPRESS"
          } ],
          "locationId" : "locationId",
          "specialInstructions" : "specialInstructions",
          "lockerAvailability" : false,
          "locationCapabilities" : [ {
            "serviceType" : "serviceType",
            "transferOfPossessionType" : "transferOfPossessionType",
            "carrierCode" : "carrierCode",
            "daysOfWeek" : [ "daysOfWeek", "daysOfWeek" ],
            "serviceCategory" : "serviceCategory"
          }, {
            "serviceType" : "serviceType",
            "transferOfPossessionType" : "transferOfPossessionType",
            "carrierCode" : "carrierCode",
            "daysOfWeek" : [ "daysOfWeek", "daysOfWeek" ],
            "serviceCategory" : "serviceCategory"
          } ],
          "mapURL" : "mapURL",
          "rthservice" : "rthservice",
          "contactAndAddress" : {
            "address" : {
              "residential" : false,
              "addressClassification" : "MIXED",
              "city" : "city",
              "countryCode" : "countryCode",
              "streetLines" : [ "streetLines", "streetLines" ],
              "postalCode" : "postalCode",
              "addressVerificationId" : "addressVerificationId",
              "addressClassificationConfidence" : "POTENTIAL",
              "stateOrProvinceCode" : "stateOrProvinceCode",
              "shareId" : "shareId"
            },
            "displayName" : "displayName",
            "contact" : {
              "personName" : "personName",
              "fedralTaxId" : "fedralTaxId",
              "emailAddress" : "emailAddress",
              "parsedPersonName" : {
                "firstName" : "firstName",
                "lastName" : "lastName",
                "middleName" : "middleName",
                "suffix" : "suffix"
              },
              "phoneNumber" : "phoneNumber",
              "contactId" : "contactId",
              "phoneExtension" : "phoneExtension",
              "companyName" : "companyName",
              "faxNumber" : "faxNumber",
              "stateTaxId" : "stateTaxId"
            },
            "addressAncillaryDetail" : {
              "locationInCity" : "locationInCity",
              "suite" : "suite",
              "adderssVerificationOverrideReason" : "adderssVerificationOverrideReason",
              "locationInProperty" : "locationInProperty",
              "addtionalDescriptions" : "addtionalDescriptions",
              "department" : "department",
              "roomFloor" : "roomFloor",
              "crossStreet" : "crossStreet",
              "building" : "building",
              "apartment" : "apartment",
              "room" : "room"
            }
          }
        } ],
        "nearestLocation" : {
          "geoPositionalCoordinates" : {
            "altitude" : 7.386281948385884,
            "heading" : 1.4894159098541704,
            "latitude" : 2.027123023002322,
            "accuracy" : 1.2315135367772556,
            "altitudeAccuracy" : 1.0246457001441578,
            "speed" : 6.84685269835264,
            "longitude" : 4.145608029883936
          },
          "packageAttributes" : {
            "weight" : {
              "units" : "KG",
              "value" : 7.457744773683766
            },
            "dimensions" : {
              "length" : 1,
              "width" : 4,
              "units" : "CM",
              "height" : 5
            }
          },
          "storeHours" : [ {
            "exceptionalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "dayofweek" : "SUNDAY",
            "operationalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "exceptionalHoursType" : "CLOSED_ALL_DAY",
            "operationalHoursType" : "CLOSED_ALL_DAY"
          }, {
            "exceptionalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "dayofweek" : "SUNDAY",
            "operationalHours" : [ {
              "begins" : "begins",
              "ends" : "ends"
            }, {
              "begins" : "begins",
              "ends" : "ends"
            } ],
            "exceptionalHoursType" : "CLOSED_ALL_DAY",
            "operationalHoursType" : "CLOSED_ALL_DAY"
          } ],
          "distance" : {
            "units" : "KM",
            "value" : 6.027456183070403
          },
          "locationAttributeTypes" : [ "ACCEPTS_CASH", "ACCEPTS_CASH" ],
          "locationType" : "FEDEX_AUTHORIZED_SHIP_CENTER",
          "carrierDetail" : [ {
            "serviceType" : "FIRST_OVERNIGHT",
            "countryRelationshipType" : "DOMESTIC",
            "carrierCodeType" : "FDXE",
            "latestDropoffDetails" : {
              "dayOfWeek" : "SUNDAY",
              "operationalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "exceptionalTime" : "exceptionalTime",
              "exceptionalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "operationTime" : "operationTime"
            },
            "serviceCategory" : "EXPRESS"
          }, {
            "serviceType" : "FIRST_OVERNIGHT",
            "countryRelationshipType" : "DOMESTIC",
            "carrierCodeType" : "FDXE",
            "latestDropoffDetails" : {
              "dayOfWeek" : "SUNDAY",
              "operationalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "exceptionalTime" : "exceptionalTime",
              "exceptionalOverlay" : {
                "time" : "time",
                "type" : "DOMESTIC_CANADIAN"
              },
              "operationTime" : "operationTime"
            },
            "serviceCategory" : "EXPRESS"
          } ],
          "locationId" : "locationId",
          "specialInstructions" : "specialInstructions",
          "lockerAvailability" : false,
          "locationCapabilities" : [ {
            "serviceType" : "serviceType",
            "transferOfPossessionType" : "transferOfPossessionType",
            "carrierCode" : "carrierCode",
            "daysOfWeek" : [ "daysOfWeek", "daysOfWeek" ],
            "serviceCategory" : "serviceCategory"
          }, {
            "serviceType" : "serviceType",
            "transferOfPossessionType" : "transferOfPossessionType",
            "carrierCode" : "carrierCode",
            "daysOfWeek" : [ "daysOfWeek", "daysOfWeek" ],
            "serviceCategory" : "serviceCategory"
          } ],
          "mapURL" : "mapURL",
          "rthservice" : "rthservice",
          "contactAndAddress" : {
            "address" : {
              "residential" : false,
              "addressClassification" : "MIXED",
              "city" : "city",
              "countryCode" : "countryCode",
              "streetLines" : [ "streetLines", "streetLines" ],
              "postalCode" : "postalCode",
              "addressVerificationId" : "addressVerificationId",
              "addressClassificationConfidence" : "POTENTIAL",
              "stateOrProvinceCode" : "stateOrProvinceCode",
              "shareId" : "shareId"
            },
            "displayName" : "displayName",
            "contact" : {
              "personName" : "personName",
              "fedralTaxId" : "fedralTaxId",
              "emailAddress" : "emailAddress",
              "parsedPersonName" : {
                "firstName" : "firstName",
                "lastName" : "lastName",
                "middleName" : "middleName",
                "suffix" : "suffix"
              },
              "phoneNumber" : "phoneNumber",
              "contactId" : "contactId",
              "phoneExtension" : "phoneExtension",
              "companyName" : "companyName",
              "faxNumber" : "faxNumber",
              "stateTaxId" : "stateTaxId"
            },
            "addressAncillaryDetail" : {
              "locationInCity" : "locationInCity",
              "suite" : "suite",
              "adderssVerificationOverrideReason" : "adderssVerificationOverrideReason",
              "locationInProperty" : "locationInProperty",
              "addtionalDescriptions" : "addtionalDescriptions",
              "department" : "department",
              "roomFloor" : "roomFloor",
              "crossStreet" : "crossStreet",
              "building" : "building",
              "apartment" : "apartment",
              "room" : "room"
            }
          }
        },
        "lockerAvailabilityMessage" : "lockerAvailabilityMessage"
      }
    },
    "LocationsSummaryRequest" : {
      "type" : "object",
      "properties" : {
        "locationsSummaryRequestControlParameters" : {
          "$ref" : "#/definitions/LocationsSummaryRequestControlParameters"
        },
        "locationTypes" : {
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "FEDEX_AUTHORIZED_SHIP_CENTER", "FEDEX_OFFICE", "FEDEX_SELF_SERVICE_LOCATION", "FEDEX_STAFFED", "RETAIL_ALLICANCE_LOCATION", "FEDEX_GROUND_TERMINAL", "FEDEX_ONSITE", "FEDEX_SHIP_AND_GET" ]
          }
        },
        "locationAttrTypes" : {
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "ACCEPTS_CASH", "ALREADY_OPEN", "COPY_AND_PRINT_SERVICES", "DANGEROUS_GOODS_SERVICES", "DIRECT_MAIL_SERVICES", "EXPRESS_FREIGHT_DROPOFFS", "EXPRESS_PARCEL_DROPOFFS", "FEDEX_FREIGHT_DROPOFFS", "GROUND_DROPOFFS", "GROUND_HOME_DELIVERY_DROPOFFS", "LOCATION_IS_IN_AIRPORT", "NOTARY_SERVICES", "OBSERVES_DAY_LIGHT_SAVING_TIMES", "OPEN_TWENTY_FOUR_HOURS", "PACK_AND_SHIP", "PACKAGING_SUPPLIES", "PASSPORT_PHOTO_SERVICES", "RETURNS_SERVICES", "SATURDAY_DROPOFFS", "SIGNS_AND_BANNERS_SERVICE", "WEEKDAY_EXPRESS_HOLD_AT_LOCATION", "WEEKDAY_GROUND_HOLD_AT_LOCATION", "SONY_PICTURE_STATION", "EXPANDED_OFFICE_SUPPLIES_AND_TECHNOLOGY_PRODUCTS", "VIDEO_CONFERENCING", "SATURDAY_EXPRESS_HOLD_AT_LOCATION", "KIOSK_LOCATION", "STAFFED_LOCATION", "SAME_DAY_DROPOFFS", "SAME_DAY_CITY_DROPOFFS", "DROP_BOX", "SHIP_AND_GET", "DOMESTIC_SHIPPING_SERVICES", "INTERNATIONAL_SHIPPING_SERVICES" ]
          }
        },
        "sort" : {
          "$ref" : "#/definitions/Sort"
        },
        "location" : {
          "$ref" : "#/definitions/Location"
        },
        "redirectToHoldType" : {
          "type" : "string"
        },
        "searchBy" : {
          "type" : "string"
        },
        "phoneNumber" : {
          "type" : "string"
        },
        "sameState" : {
          "type" : "boolean",
          "default" : false
        },
        "excludeUnavailableLocations" : {
          "type" : "string"
        },
        "sameCountry" : {
          "type" : "boolean",
          "default" : false
        },
        "dropOffServiceType" : {
          "type" : "string"
        },
        "includeMapUrl" : {
          "type" : "boolean",
          "default" : false
        },
        "includeHoliday" : {
          "type" : "boolean",
          "default" : false
        },
        "includeDropoffTime" : {
          "type" : "boolean",
          "default" : false
        },
        "contentOptions" : {
          "type" : "string"
        },
        "trackingNumber" : {
          "type" : "string"
        },
        "shipDate" : {
          "type" : "string"
        },
        "uniqueTrackingId" : {
          "type" : "string"
        },
        "dropoffTime" : {
          "type" : "string"
        },
        "packageAttributes" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/PackageAttribute"
          }
        },
        "locationCapabilities" : {
          "type" : "array",
          "items" : {
            "$ref" : "#/definitions/LocationCapabilities"
          }
        },
        "carrierCodes" : {
          "type" : "array",
          "items" : {
            "type" : "string",
            "enum" : [ "FDXE", "FDXG", "FXSP", "FXFR", "FDXC", "FXCC" ]
          }
        },
        "getCall" : {
          "type" : "boolean",
          "default" : false
        }
      },
      "example" : {
        "locationsSummaryRequestControlParameters" : {
          "resultsRequested" : 0,
          "distance" : {
            "units" : "KM",
            "value" : 6.027456183070403
          },
          "returnDetailedAddresses" : false,
          "resultsToSkip" : 6
        },
        "packageAttributes" : [ {
          "weight" : {
            "units" : "KG",
            "value" : 7.457744773683766
          },
          "dimensions" : {
            "length" : 1,
            "width" : 4,
            "units" : "CM",
            "height" : 5
          }
        }, {
          "weight" : {
            "units" : "KG",
            "value" : 7.457744773683766
          },
          "dimensions" : {
            "length" : 1,
            "width" : 4,
            "units" : "CM",
            "height" : 5
          }
        } ],
        "searchBy" : "searchBy",
        "getCall" : false,
        "sameCountry" : false,
        "dropOffServiceType" : "dropOffServiceType",
        "uniqueTrackingId" : "uniqueTrackingId",
        "sort" : {
          "sortOrder" : "ASCENDING",
          "sortCriteria" : "DROPPOFFTIME"
        },
        "carrierCodes" : [ "FDXE", "FDXE" ],
        "shipDate" : "shipDate",
        "dropoffTime" : "dropoffTime",
        "locationAttrTypes" : [ "ACCEPTS_CASH", "ACCEPTS_CASH" ],
        "redirectToHoldType" : "redirectToHoldType",
        "phoneNumber" : "phoneNumber",
        "sameState" : false,
        "includeHoliday" : false,
        "locationTypes" : [ "FEDEX_AUTHORIZED_SHIP_CENTER", "FEDEX_AUTHORIZED_SHIP_CENTER" ],
        "excludeUnavailableLocations" : "excludeUnavailableLocations",
        "contentOptions" : "contentOptions",
        "locationCapabilities" : [ {
          "serviceType" : "serviceType",
          "transferOfPossessionType" : "transferOfPossessionType",
          "carrierCode" : "carrierCode",
          "daysOfWeek" : [ "daysOfWeek", "daysOfWeek" ],
          "serviceCategory" : "serviceCategory"
        }, {
          "serviceType" : "serviceType",
          "transferOfPossessionType" : "transferOfPossessionType",
          "carrierCode" : "carrierCode",
          "daysOfWeek" : [ "daysOfWeek", "daysOfWeek" ],
          "serviceCategory" : "serviceCategory"
        } ],
        "location" : {
          "address" : {
            "residential" : false,
            "addressClassification" : "MIXED",
            "city" : "city",
            "countryCode" : "countryCode",
            "streetLines" : [ "streetLines", "streetLines" ],
            "postalCode" : "postalCode",
            "addressVerificationId" : "addressVerificationId",
            "addressClassificationConfidence" : "POTENTIAL",
            "stateOrProvinceCode" : "stateOrProvinceCode",
            "shareId" : "shareId"
          },
          "longLat" : {
            "latitude" : "latitude",
            "longitude" : "longitude"
          },
          "id" : "id"
        },
        "includeMapUrl" : false,
        "includeDropoffTime" : false,
        "trackingNumber" : "trackingNumber"
      }
    },
    "LocationsSummaryRequestControlParameters" : {
      "type" : "object",
      "properties" : {
        "returnDetailedAddresses" : {
          "type" : "boolean",
          "default" : false
        },
        "resultsRequested" : {
          "type" : "integer",
          "format" : "int32"
        },
        "resultsToSkip" : {
          "type" : "integer",
          "format" : "int32"
        },
        "distance" : {
          "$ref" : "#/definitions/Distance"
        }
      },
      "example" : {
        "resultsRequested" : 0,
        "distance" : {
          "units" : "KM",
          "value" : 6.027456183070403
        },
        "returnDetailedAddresses" : false,
        "resultsToSkip" : 6
      }
    },
    "Overlay" : {
      "type" : "object",
      "properties" : {
        "type" : {
[...]
